experimental notebook/.ipynb_checkpoints/
*.pdf
*.csv
*.pth
*.pt
*.pub
repokey/
logs/cola/version_1/
__pycache__/
wandb/
outputs/
logs/
*.log
# add directories to the .gitignore file
#---------------------------------------
